<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Teacher upload</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

</head>
<body>

<h2  style="font-family: roboto; font-weight: bold; font-display: auto;"> Here you can upload assignment for student</h2>
<form method="post" action="../teacherindex/" enctype="multipart/form-data">
    {% csrf_token %}
    <br>
    <input type="text" name="filename" placeholder="Teacher name" >
    <input type="text" placeholder="Assignment name" name="ass">
    <input type="file" multiple name="uploadfiles">

    <br><br>
    <button class="btn btn-warning" type="submit" style="color: black;">Upload</button>
  <button class="btn btn-warning"><a  style="color: black;" href=./college/" > logout</a></button>
 
  
</form>
</body>
</html>
